@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&display=swap');
/* start of navbar edit*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }

/*end of navbar*/

/*start of homepage*/
body {
  background-image: linear-gradient(to right, black, rgb(226, 160, 37), green) ;
}
h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: azure;
  font-size: 60px;
  text-decoration: underline overline;
}
img {
  width: 500px;
  height: 600px;
}
.desc {
  color: rgb(255, 255, 255);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: #111;
  font-size: 45px;
}
/*end of homepage edit*/
.button {
  background-color: #f15e5e; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
  align-items: baseline;
}